<p-menubar [dt]="menubar">
  <ng-template #start>
    <div class="flex items-center gap-3">
      <img src="/interview-genius-log.png" alt="InterviewGenius Logo" class="h-15" />
      <span class="text-xl font-bold">InterviewGenius</span>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex gap-4 items-center">
      <p-button
        [icon]="isDarkMode() ? 'pi pi-sun' : 'pi pi-moon'"
        [outlined]="true"
        severity="secondary"
        size="small"
        (onClick)="toggleDarkMode()"
      />
      @if (!isAuthenticated()) {
        <p-button label="Sign In" [outlined]="true" severity="secondary" routerLink="/signin" />
        <p-button label="Sign Up" routerLink="/signup" />
      } @else {
        @if (profilePicture()) {
          <p-avatar
            [image]="profilePicture()!"
            shape="circle"
            (click)="menu.toggle($event)"
            styleClass="cursor-pointer"
          />
        } @else {
          <p-avatar
            [label]="userInitials()"
            shape="circle"
            (click)="menu.toggle($event)"
            styleClass="cursor-pointer"
          />
        }
        <p-menu #menu [model]="menuItems()" [popup]="true" />
      }
    </div>
  </ng-template>
</p-menubar>
